.poi-endpoint-label {
    padding: 10px 10px;
    background: rgba(50, 50, 50, 0.8);
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;

    transform: rotate(90deg);
    margin-top: 30px;
}

.dot {
    background: #666;

    // width: 40px;
    // height: 40px;
    width: 26px;
    height: 26px;

    border-radius: 5px;
    border-radius: 40px;
    position: absolute;
    // transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%);

    cursor: pointer;
    opacity: 0.6;
    border: 1px #333 solid;
    transition: all 0.1s ease-in-out;
    z-index: 10;
}
.dot:hover,
.dot.active {
    // transform: translate(-50%, -50%) scale(1.5) rotate(90deg);
    opacity: 1;
    border: 1px #000 solid;
}

.dot.red {
    background: #f56c6c;
    border: 1px #db4545 solid;
}

.dot.purple {
    transform: translate(-50%, -50%);
    background: #b20010;
    border: 1px #b20010 solid;
}
.dot.poi {
}

.dot.end-point {
    width: 100px;
    height: 100px;
    background: gold;
    border: 3px #000 solid;
    border-radius: 200px;
}

@keyframes gg {
    50% {
        transform: scale(2) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}

.poi img {
    position: absolute;
    left: -50%;
    top: -50%;
    width: 80px;
    height: 80px;
}

.direction-up {
    content: "U";
}
.direction-right {
    content: "R";
}
.direction-down {
    content: "D";
}
.direction-left {
    content: "L";
}

.dotPath {
    /* transition: all 0.2s ease-in-out; */
    // animation-duration: 1.2s;
    animation-duration: 2s;
    border-radius: 100px;
    animation-iteration-count: infinite;
    animation-name: pathAnimation;
    animation-timing-function: linear;
    font-size: 32px;
    text-align: center;
    line-height: 1;
    color: #fff;
    font-weight: bold;
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    transform: translate(-50%, -50%);
}
/* Standard syntax */
@keyframes pathAnimation {
    0% {
        opacity: 0.4;
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        opacity: 0.9;
        transform: translate(-50%, -50%) scale(1.5);
    }
    100% {
        opacity: 0.4;
        transform: translate(-50%, -50%) scale(1);
    }
}

.green {
    background-color: rgb(83, 243, 83);
}

.dotStart {
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    background-image: url("/img/icon-step.png");
    background-size: cover;
}

.dotEnd {
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    background-image: url("/img/icon-car.png");
    background-size: cover;
}

.poi-label {
    padding: 3px 8px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 16px;
}
