// modal
.modalFrame {
    background: rgba(30, 30, 30, 0.8);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    left: 0;
    top: 0px;
    transition: all 0.2s ease-in-out;
    transform: scale(0);
    opacity: 0;
    visibility: collapse;
}

.modalFrame.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.modalWrapper {
    padding: 10px;
    box-shadow: 0 0 20px rgba(26, 26, 26, 0.8);
    width: 90%;
    max-width: 800px;
    // max-width: 1400px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    margin-top: 35vh;
    transform: scale(0) rotate(-20deg);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.modalFrame.active .modalWrapper {
    transform: scale(1);
    opacity: 1;
}

.modalWrapper2 {
    max-height: 93vh;
    overflow-y: auto;
}
