@import "~vue-multiselect/dist/vue-multiselect.min";
// <style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

// @import "~vue-multiselect/dist/vue-multiselect.min";
@import "./modal";

// custom --------------------------------------------------------------------------------------------
// custom --------------------------------------------------------------------------------------------
.multiselect__tag {
    background: #007bff;
    padding: 8px 10px;
    padding-right: 25px;
}
.multiselect__tag-icon:after {
    color: #fff;
}

*[v-cloak] {
    display: none;
}

body {
    font-family: Microsoft JhengHei;
}
.inlineBlock {
    display: inline-block;
}

.sidebar {
    min-height: 100vh;
}

.tableListing tbody td:first-child {
    text-align: center;
}
.tableListing tbody td:last-child {
    text-align: center;
}
.tableListing tbody td {
    vertical-align: middle;
    // text-align: center;
}
.tableListing img {
    max-width: 40px;
    max-height: 40px;
}

.table thead td {
    vertical-align: middle;
    white-space: nowrap;
}

.table thead td * {
    vertical-align: middle;
}

.sort {
    position: relative;
    cursor: pointer;
}

.sort:hover {
    // @extend .text-primary;
}

.sort:before {
    right: 1em;
    position: absolute;
    content: "\2191";
    color: #aaa;
}

.sort:after {
    right: 0.5em;
    position: absolute;
    content: "\2193";
    color: #aaa;
}

.sortAsc:before {
    // @extend .text-primary;
}

.sortDesc:after {
    // @extend .text-primary;
}

.pagination a:hover {
    color: #fff;
}

.page-item.active .page-link {
    color: #fff !important;
}

.page-item button {
    outline: 0 !important;
    outline-style: 0 !important;
}

.page-link:focus {
    outline: 0 !important;
    outline-style: 0 !important;
}

.itemImg {
    min-height: 100px;
    min-width: 100px;
    width: 300px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    background: #eee;
    border: 1px #aaa solid;
    padding: 5px;
    opacity: 1;
    border-radius: 3px;
}

.itemImg:hover {
    opacity: 0.9;
}

.full-calendar-body .dates .dates-events .events-week .events-day {
    min-height: 100px !important;
}
.comp-full-calendar {
    max-width: 100% !important;
}

div.form-control {
    height: auto;
    min-height: calc(2.25rem + 2px);
}


.pointer {
    cursor: pointer;
}

.text-12 {
    font-size: 12px;
}

.star::before {
    content: "*";
    color: #f00;
    margin-right: 3px;
}

.pre-line {
    white-space: pre-line;
}

.navbar-nav.toggled .frame-user-detail {
    display: none;
}

@media (max-width: 768px) {
    .frame-user-detail {
        display: none;
    }
}

.text-red {
    color: #f00;
}

.dev-memo {
    color: #d77b2a;
    // font-size: 14px;
    display: none;
}

.text-remind {
    color: #777;
    font-size: 14px;
}

.hidden {
    display: none;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.tr-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}
.tr-dark td {
    border-color: #454d55;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.03);
}

.border-primary {
    border-color: #007bff;
}

.break-all {
    word-break: break-all;
}

.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
    // color: #aaa;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link {
    // color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
    // color: yellow;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
    // color: yellow;
}
