@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~vue-multiselect/dist/vue-multiselect.min';
@import '~@splidejs/splide/dist/css/themes/splide-default.min.css';


@import './map';
@import './modal';

body {
	@apply .text-normal .text-16;
	// font-family: Rounded Mplus 1c;
	font-family: 'M PLUS Rounded 1c';

	color: #232120;

	// color: #fff;
}

.bg {
	// background-size: cover;
	// background-image: url(/img/bg.png);
}

.text-theme {
	color: #fff;
}

.bg-store {
	background-size: 100% 100%;
	background-image: url(/img/bg.png);
}

.btn {
	@apply .rounded-10 .text-center .px-5 .py-3 .text-17 .text-white;
	box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

button[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

*[v-cloak] {
	display: none;
}

a:hover {
	text-decoration: none;
	// color: #fff;
	@apply .text-orange;
}

.shadow-1 {
	// box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.44);
}

.shadow-2 {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.shadow-3 {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.44);
}

.shadow-4 {
	box-shadow: 0px 0px 8px rgba(45, 27, 14, 0.33);
}

.pointer {
	cursor: pointer;
}

.aspect-ratio-content {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	left: 0;
	top: 0;
}

.object-fit-cover {
	object-fit: cover;
}

h1 {
	@apply .text-24;
}

/* input:not([type='checkbox'][type='radio']) { */
input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='date'],
input[type='url'] {
	@apply .bg-gray;
	// background: #fff;
	// border: 1px #ccc solid;
	/* padding: 15px 15px; */
	padding: 15px 20px;
	/* color: #999999; */
	color: #333;
	/* font-size: 15px; */
	font-size: 18px;
	width: 100%;
	border-radius: 5px;
	border: none;
	line-height: 1.5;
	outline: none;
	letter-spacing: 0.5px;
}

input:focus {
	outline: none;
}

.form-group {
	@apply .mb-5;
}

.form-group .field-name {
	@apply .text-16 .mb-2;
}

.btn-blue {
	@apply .text-white .bg-blue .px-10 .rounded-5 .inline-block .text-center;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	-webkit-appearance: button;
	line-height: 1.5;
	-webkit-user-select: none;
	vertical-align: middle;
	user-select: none;
	cursor: pointer;
	// min-width: 136px;
}

.nowrap {
	white-space: nowrap;
}

.form-control {
	// border: 1px #aaa solid;
	// background: #eee;
	@apply .bg-eee .rounded-5;
}

.btn {
	border-radius: 0;
}

.qrcode {
	max-width: 100% !important;
	height: auto !important;
}

.dg-content {
	color: #000;
}

.bg {
	background: url(/img/bg.jpg) center center no-repeat fixed;
	/* background-size: 100% 100%; */
	background-size: cover;
}

.btn-link {
	@apply .bg-white .rounded-10 .text-center .px-10 .py-6 .text-28 .shadow-1 .text-black .block;
}

.btn-link:hover {
	@apply .text-orange .no-underline;
}

.btn-white {
	@apply .w-full .p-5 .text-18 .rounded-5 .text-center .bg-white .shadow-1 .pointer;
}

.frame {
	@apply .bg-white .p-5 .rounded-10 .shadow-1;
}

.object-fit-cover {
	-o-object-fit: cover;
	object-fit: cover;
}
.aspect-ratio-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}

img.cover {
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}

.btn-outline-red {
	border: 1px solid #d4261f;
	border-radius: 7.40741px;
	color: #d4261f;
	text-align: center;
	padding: 10px 10px;
	font-size: 15px;
}

.btn-red {
	border: 1px solid #d4261f;
	border-radius: 7.40741px;
	background: #d4261f;
	color: #fff;
	text-align: center;
	padding: 10px 10px;
	font-size: 15px;
}

.btn-red:hover {
	color: #fff;
}

input.search {
	padding-left: 40px;
	background: url(/img/05.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 10px;
}
