<template>
	<div class="border rounded p-3">
		<div ref="chartContainer" class="embed-responsive embed-responsive-16by9">
			<canvas ref="chart" class="embed-responsive-item"></canvas>
		</div>
	</div>
</template>

<script>
import Chart from 'chart.js';

export default {
	props: {
		chartData: {
			type: Array,
			// default: [],
		},
		chartLabels: {
			type: Array,
			// default: [],
		},
		// 		backgroundColors: {
		// 	type: Array,
		// 	// default: [],
		// },

		// dateRange: {
		//     type: Object
		// },

		// productID: {
		//     type: Number,
		//     default: null
		// },
	},

	data() {
		return {
			// chartData: {},
			_chart: null,
			graphData_dateRange: null,
			graphData_dateRange_type: '',
			graphDate_current_type: 'revenue',
			graphIntradayTimestamp: this.intradayTimestamp,
			graphIsIntraday: this.isIntraday,
			labelPosition: 'left',
			itemName: undefined,
		};
	},

	methods: {
		getRandomColor() {
			var letters = '0123456789ABCDEF';
			var color = '#';
			for (var i = 0; i < 6; i++) {
				color += letters[Math.floor(Math.random() * 16)];
			}
			return color;
		},
	},

	watch: {
		chartData: {
			// the callback will be called immediately after the start of the observation
			immediate: true,
			// handler(val, oldVal) {
			handler(val) {
				// if (this._chart) {
				// 	this._chart.data = val;
				// 	this._chart.update();
				// }
			},
		},
	},

	mounted() {
		// console.log(this.chartData);
		// console.log(this.chartLabels);
		// const vm = this;

		const backgroundColors = [];
		for (const i in this.chartData) {
			backgroundColors.push(this.getRandomColor());
		}

		this._chart = new Chart(this.$refs.chart.getContext('2d'), {
			type: 'bar',

			options2: {
				maintainAspectRatio: false,
				datasets: [
					{
						barPercentage: 0.5,
						barThickness: 6,
						maxBarThickness: 8,
						minBarLength: 2,
						data: [10, 20, 30, 40, 50, 60, 70],
					},
				],

				// elements: {
				//     line: {
				//         backgroundColor: 'rgba(0, 123, 255, 0.1)',
				//         borderColor: 'rgba(0, 123, 255, 0.5)',
				//     },
				//     point: {
				//         backgroundColor: 'rgba(0, 123, 255, 1)',
				//         borderWidth: 0,
				//     }
				// },
				// hover: {
				//     mode: 'index',
				//     intersect: false,
				// },
				// tooltips: {
				//     mode: 'index',
				//     intersect: false,
				// },
				// scales: {
				//     yAxes: [{
				//         ticks: {
				//             beginAtZero: true,
				//         },
				//     }],
				// },
			},

			options: {
				legend: { display: false },
				title: {
					display: true,
					// text: 'Predicted world population (millions) in 2050',
					text: '',
				},
			},
			data: {
				// labels: ['2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01'],
				labels: this.chartLabels,
				datasets: [
					{
						// label: 'Population (millions)',
						// backgroundColor: ['#3e95cd', '#8e5ea2', '#3cba9f', '#e8c3b9', '#c45850'],
						backgroundColor: backgroundColors,
						// data: [2478, 5267, 734, 784, 433],
						data: this.chartData,
						// chartData
					},
				],
			},
		});
	},
	beforeDestroy() {
		this._chart.destroy();
	},
};
</script>
