<template>
    <div class="border rounded p-3">
        <div ref="chartContainer" class="embed-responsive embed-responsive-16by9">
            <canvas ref="chart" class="embed-responsive-item"></canvas>
        </div>
    </div>
</template>

<script>
    import Chart from 'chart.js';

    export default {
        props: {

            chartData: {
                type: Object,
                default: false
            },

            // dateRange: {
            //     type: Object
            // },

            // productID: {
            //     type: Number,
            //     default: null
            // },
        },

        data() {
            return {
                // chartData: {},
                _chart: null,
                graphData_dateRange: null,
                graphData_dateRange_type: '',
                graphDate_current_type: 'revenue',
                graphIntradayTimestamp: this.intradayTimestamp,
                graphIsIntraday: this.isIntraday,
                labelPosition: 'left',
                itemName: undefined
            };
        },

        methods: {

        },

        watch: {
            chartData: {
                // the callback will be called immediately after the start of the observation
                immediate: true,
                // handler(val, oldVal) {
                handler(val) {
                    // console.log(oldVal);
                    if (this._chart) {
                        this._chart.data = val;
                        this._chart.update();
                    }
                }
            }
        },

        mounted() {
            // const vm = this;
            this._chart = new Chart(this.$refs.chart.getContext('2d'), {
                type: 'line',
                options: {
                    maintainAspectRatio: false,
                    elements: {
                        line: {
                            backgroundColor: 'rgba(0, 123, 255, 0.1)',
                            borderColor: 'rgba(0, 123, 255, 0.5)',
                        },
                        point: {
                            backgroundColor: 'rgba(0, 123, 255, 1)',
                            borderWidth: 0,
                        }
                    },
                    hover: {
                        mode: 'index',
                        intersect: false,
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            },
                        }],
                    },
                    // onClick(e, elements) {
                    //     if (!vm.graphIsIntraday) {
                    //         const graphDataDateRange = vm.graphData_dateRange[elements[0]._index].period;
                    //         vm.graphIntradayTimestamp = graphDataDateRange;
                    //         vm.$emit('update:intradayTimestamp', graphDataDateRange);
                    //         vm.graphIsIntraday = true;
                    //         vm.$emit('update:isIntraday', true);
                    //     }
                    // },
                },
                // data: {
                //     labels: ['2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01',],
                //     datasets: [
                //         {
                //             label: '',
                //             data: [1, 2, 3, 5, 3, 2],
                //         },
                //     ],
                // }
            });


        },
        beforeDestroy() {
            this._chart.destroy();
        }
    };
</script>