<template>
    <div>
        <input type="text" :name="fromFieldName" :value="computedDateRange.from" :required="required" hidden>
        <input type="text" :name="toFieldName" :value="computedDateRange.to" :required="required" hidden>
        <input type="text" :class="computedClass" :required="required" placeholder="請選擇日期範圍" data-input>
        <div v-if="invalidFeedbackDateFrom" class="invalid-feedback">{{ invalidFeedbackDateFrom }}</div>
        <div v-if="invalidFeedbackDateTo" class="invalid-feedback">{{ invalidFeedbackDateTo }}</div>
    </div>
</template>

<script>
    import flatpickr from 'flatpickr';
    import { zh } from 'flatpickr/dist/l10n/zh';

    export default {
        props: {
            min: [Number, String],
            max: [Number, String],
            from: [Number, String],
            to: [Number, String],
            fromFieldName: {
                type: String,
                default: 'dateRangeFrom',
            },
            toFieldName: {
                type: String,
                default: 'dateRangeTo',
            },
            required: {
                type: Boolean,
                default: false,
            },
            iso: {
                type: Boolean,
                default: false,
            },
            customClass: {
                type: String,
                default: ''
            },
            invalidFeedbackDateFrom: {
                type: String,
                default: ''
            },
            invalidFeedbackDateTo: {
                type: String,
                default: ''
            }
        },

        data() {
            return {
                _picker: null,
                dateRange: {
                    from: this.from ? (this.iso ? this.from : this.convertToMillisecondsDate(this.from)) : null,
                    to: this.to ? (this.iso ? this.to : this.convertToMillisecondsDate(this.to)) : null,
                },
            };
        },

        computed: {
            computedDateRange() {
                return {
                    from: this.iso ? this.dateRange.from : this.convertToSeconds(this.dateRange.from),
                    to: this.iso ? this.dateRange.to : this.convertToSeconds(this.dateRange.to),
                };
            },
            computedClass() {
                return `bg-white ${this.customClass}`;
            }
        },

        methods: {
            convertToMillisecondsDate(seconds) {
                return new Date(Number(seconds) * 1000);
            },

            convertToSeconds(date) {
                return date && date instanceof Date ? Math.round(date.valueOf() / 1000) : '';
            },

            onChange(selectedDates) {

                if (selectedDates.length === 2) {

                    var from = 0;
                    var to = 0;

                    if (this.iso) {
                        from = this._picker.formatDate(selectedDates[0], 'Y-m-d');
                        to = this._picker.formatDate(selectedDates[1], 'Y-m-d');
                    } else {

                        from = selectedDates[0].getTime() / 1000;
                        to = selectedDates[1].getTime() / 1000;
                    }

                    this.dateRange.from = from;
                    this.dateRange.to = to;

                    // this.$emit('update:dateRange', this.computedDateRange);
                    this.$emit('update:dateFrom', from);
                    this.$emit('update:dateTo', to);

                    // this.dateRange.from = this.iso ? this._picker.formatDate(selectedDates[0], 'Y-m-d') : selectedDates[0];
                    // this.dateRange.to = this.iso ? this._picker.formatDate(selectedDates[1], 'Y-m-d') : selectedDates[1];

                    // this.$emit('update:dateRange', this.computedDateRange);

                    // this.$emit('update:dateFrom', this._picker.formatDate(selectedDates[0], 'Y-m-d'));
                    // this.$emit('update:dateTo', this._picker.formatDate(selectedDates[1], 'Y-m-d'));

                    this.$emit('change');

                } else {

                    this.$emit('update:dateFrom', null);
                    this.$emit('update:dateTo', null);


                }
            }
        },

        created() {
            this.$emit('update:dateRange', this.computedDateRange);
        },

        mounted() {
            flatpickr.localize(zh);
            this._picker = flatpickr(this.$el, {
                mode: 'range',
                wrap: true,
                dateFormat: this.iso ? 'Y-m-d' : 'U',
                // altFormat: 'Y年 m月 j日',
                altFormat: 'Y-m-j',
                altInput: true,
                minDate: this.min ? (this.iso ? this.min : this.convertToMillisecondsDate(this.min)) : null,
                maxDate: this.max ? (this.iso ? this.max : this.convertToMillisecondsDate(this.max)) : null,
                defaultDate: this.from && this.to ? [this.dateRange.from, this.dateRange.to] : null,
                onChange: this.onChange,
                onReady(dateObj, dateStr, instance) {
                    // console.log(instance);
                    var div = document.createElement('div');
                    div.innerHTML = '<div class="text-center pt-2 mb-2" style="border-top:1px #ddd solid"><button class="btn btn-outline-primary">X</button></div>';
                    div.addEventListener('click', function () {
                        instance.clear();
                        instance.close();
                    });
                    instance.calendarContainer.append(div);

                }
            });
        },

        beforeDestroy() {
            this._picker.destroy();
        },
    };
</script>

<style lang="scss">
    @import '~flatpickr/dist/flatpickr.css';
    @import '~flatpickr/dist/themes/airbnb.css';
</style>