<template>
	<div>
		<multiselect v-model="model" :options="option" track-by="id" :custom-label="customLabel" :multiple="false" label="name"></multiselect>

		<!-- <multiselect :options="option.xxxxxxx"
            v-model="x.store"
            deselect-label=""
            select-label=""
            track-by="id"
            :multiple="false"
            :custom-label="z => z.name"
            :close-on-select="true"
            return=" "
            :preserve-search="true"
            @@select="onChangeStore($event, x)"
            placeholder="@sharedLocalizer["filter store"]">
        </multiselect> -->
	</div>
</template>

<script>
export default {
	props: {
		option: {
			required: true,
		},
		value: {
			required: true,
		},
		customLabel: {
			type: Function,
			required: false,
			default: function (z) {
				return z.name;
			},
		},
	},

	data() {
		return {
			model: null,
		};
	},

	mounted() {
		this.model = this.option.find((z) => z.id == this.value);
	},

	watch: {
		model(q) {
			if (q) {
				this.$emit('update:value', q.id);
			} else {
				this.$emit('update:value', null);
			}
		},
	},
};
</script>
