<template>
    <textarea class="form-control"></textarea>
</template>

<script>
    import config from '../config';
    import $ from 'jquery';
    import 'bootstrap';
    import 'summernote/dist/summernote-bs4.js';
    import 'summernote/dist/summernote-bs4.css';

    export default {
        props: {
            model: {
                required: true,
            },
            // height: {
            //     type: String,
            //     default: '150',
            // },
            // fileUploadUrl: {
            //     type: String,
            //     required: true,
            // },
        },

        data() {
            return {
                uploadUrl: config.uploadUrl,
            };
        },
        mounted() {

            var self = this;

            const config = {
                toolbar: [
                    ['fontsize', ['fontsize']],
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert', ['picture', 'link', 'video']],
                    ['fontname', ['fontname']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']],
                ],
                minHeight: 400,
                maxHeight: 'calc(100vh - 100px)',
                // height: this.height,
                // dialogsInBody: true,
                callbacks: {
                    onInit: () => {
                        $(this.$el).summernote('code', this.model);
                    },
                    onChange: () => {
                        this.$emit('update:model', $(this.$el).summernote('code'));
                    },
                    onImageUpload: function (files) {
                        var data = new FormData();
                        for (var i = files.length - 1; i >= 0; i--) {
                            data.append('files[]', files[i]);
                        }
                        var summernoteObject = this;
                        self.$http.post('/_admin/_helper/uploadFiles', data).then(function (r) {
                            for (var i in r.body) {
                                var x = r.body[i];
                                var imgUrl = self.uploadUrl + x.fileName;
                                $(summernoteObject).summernote('insertImage', imgUrl);
                            }
                        });
                    },
                },
            };
            $(this.$el).summernote(config);
        },

        beforeDestroy() {
            $(this.$el).summernote('destroy');
        },
    };
</script>
