<template>
	<div>
		<input type="text" class="form-control bg-white" placeholder="請選擇日期時間" data-input />
	</div>
</template>

<script>
import flatpickr from 'flatpickr';
import { zh } from 'flatpickr/dist/l10n/zh';

export default {
	props: {
		// min: [Number, String],
		// max: [Number, String],

		min: {
			type: Number,
			default: null,
		},

		max: {
			type: Number,
			default: null,
		},

		// from: [Number, String],
		// to: [Number, String],
		// fromFieldName: {
		//     type: String,
		//     default: 'dateRangeFrom',
		// },
		// toFieldName: {
		//     type: String,
		//     default: 'dateRangeTo',
		// },
		// required: {
		//     type: Boolean,
		//     default: false,
		// },
		// iso: {
		//     type: Boolean,
		//     default: false,
		// },
		// customClass: {
		//     type: String,
		//     default: ''
		// },
		// invalidFeedbackDateFrom: {
		//     type: String,
		//     default: ''
		// },
		// invalidFeedbackDateTo: {
		//     type: String,
		//     default: ''
		// },
		value: {
			// type: Any,
			// default: ''
		},
	},

	data() {
		return {
			_picker: null,
			// dateRange: {
			//     from: this.from ? (this.iso ? this.from : this.convertToMillisecondsDate(this.from)) : null,
			//     to: this.to ? (this.iso ? this.to : this.convertToMillisecondsDate(this.to)) : null,
			// },
		};
	},

	computed: {
		// computedClass() {
		//     return `bg-white ${this.customClass}`;
		// }
	},

	methods: {
		// convertToMillisecondsDate(seconds) {
		//     return new Date(Number(seconds) * 1000);
		// },

		onChange(selectedDates) {
			console.log(selectedDates);
			if (selectedDates[0]) {
				// this.$emit('update:time', selectedDates[0].valueOf() / 1000);
				this.$emit('update:time', selectedDates[0].valueOf());
			} else {
				this.$emit('update:time', null);
			}
		},
	},

	mounted() {
		flatpickr.localize(zh);

		let defaultDate = null;
		if (this.value) {
			try {
				defaultDate = new Date(this.value);
			} catch (e) {
				// yada
			}
		}

		this._picker = flatpickr(this.$el, {
			// mode: 'range',
			mode: 'single',
			wrap: true,
			enableTime: true,
			time_24hr: true,
			dateFormat: this.iso ? 'Y-m-d' : 'U',
			// altFormat: 'Y年 m月 j日',
			// altFormat: 'Y-m-d H:i:00',
			altFormat: 'Y-m-d H:i',
			altInput: true,
			// minDate: this.min ? (this.iso ? this.min : this.convertToMillisecondsDate(this.min)) : null,
			// maxDate: this.max ? (this.iso ? this.max : this.convertToMillisecondsDate(this.max)) : null,

			minDate: this.min,
			maxDate: this.max,

			// defaultDate: this.from && this.to ? [this.dateRange.from, this.dateRange.to] : null,
			// defaultDate: new Date('2018-12-12 12:12:12'),
			defaultDate: defaultDate,
			onChange: this.onChange,
			onReady(dateObj, dateStr, instance) {
				var div = document.createElement('div');
				div.innerHTML = '<div class="text-center pt-2 mb-2" style="border-top:1px #ddd solid"><button class="btn btn-outline-primary">X</button></div>';
				div.addEventListener('click', function () {
					instance.clear();
					instance.close();
				});
				instance.calendarContainer.append(div);
			},
		});
	},

	beforeDestroy() {
		this._picker.destroy();
	},
};
</script>

<style lang="scss">
@import '~flatpickr/dist/flatpickr.css';
@import '~flatpickr/dist/themes/airbnb.css';
</style>
